/* Layout.css */

#wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    position: relative;
    z-index: 1;
}

#content-wrapper {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-left: 260px;

    height: 100vh;

    overflow: hidden;

    position: relative;
    z-index: 2;
}

#content {
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.page-content {
    flex: 1;

    padding: 30px;

    overflow: hidden;

    position: relative;
    z-index: 2;

    background: transparent;
}

@media (max-width: 992px) {

    #content-wrapper {
        margin-left: 0;
    }

    .page-content {
        padding: 20px;
    }

}