.universe-background {
    position: fixed;
    inset: 0;

    z-index: -1;

    overflow: hidden;

    pointer-events: none;
}

.stars-layer {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
}

.nebula {
    position: absolute;
}